.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preview-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.preview-header {
  margin-bottom: 20px;
}

.invoice-details {
  margin-top: 10px;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.preview-table th {
  background-color: rgb(93, 124, 121);
  color: white;
  padding: 8px;
  text-align: left;
}

.preview-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.preview-table td:nth-child(2) {
  text-align: center;
}

.preview-table td:last-child {
  text-align: right;
}

.preview-table .spacer td {
  height: 20px;
  border: none;
}

.preview-table .total-row td {
  font-weight: bold;
  border-top: 2px solid #ddd;
}

.paid-status {
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}
